*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(55deg, #fd00, #cef8d5);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 600px;
    height: 400px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 4px 10px rgba(3, 3, 121, 0.5);
    border-radius: 3px;
    flex-direction: column;
}
.content{
    width: 85%;
    height: 80%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: oblique;
    flex-wrap: wrap;
    padding: 0px 50px;
    font-weight: bold;
    text-shadow: 0px 4px 9px rgba(0,0,0,0.2);
}
button{
    width: 85%;
    height: 10%;
    margin-top: 10px;
    cursor: pointer;
    background: linear-gradient(45deg, #3a3af0 , #87ceeb);
    border: none;
    color: #fff;
    font-size: 17px;
    box-shadow: 0px 4px 9px rgba(0,0,0,0.2);
}
button:active{
    transform: translatey(2px);
}