*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #1e84f8, #e610e6);
}

.container{
    width: 350px;
    height: 500px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.container.active{
    opacity: 0;
    visibility: hidden;
}
.progress-bar{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.progress-bar span{
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background:linear-gradient(85deg, #1e84f8, #e610e6);
    color: #fff;
    border: 2px solid #153961;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    position: relative;
}
.progress-bar span:not(:last-child):before{
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: #e610e6;
    left: 29px;
}
.page{
    width: 300px;
    height: 400px;
    min-width: 300px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    flex-direction: column;
    transition: margin 0.4s;
}
.inputs{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
}
.inputs .label{
    margin: 5px;
    font-weight: bold;
    font-size: 17px;
}
input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 2px solid salmon;
    padding: 5px;
    background: transparent;
}
.btn{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    /* border: 1px solid #000; */
}
button{
    background: #e610e6;
    width: 95%;
    height: 100%;
    color: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}
select{
    width: 95%;
    outline: none;
    height: 30px;
}
.anime-box{
    position: absolute;
    width: 500px;
    height: 300px;
    /* border: 1px solid #000; */
    background: #fff;
    box-shadow: 10px 20px 30px rgba(236, 236, 236, 0.3), 0px 10px 20px rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}
.anime-box.active{
    visibility: visible;
    opacity: 1;
}
.done{
    width: 70%;
    height: 50px;
    background: #1e84f8;
    margin-top: 30px;
}