*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table{
    width: 90vw;  
}
input{
    width: 85vw;
    margin-bottom: 20px;
    height: 30px;
    padding: 10px;
}
th{
    background: rgb(233, 233, 233);
}
td{
    width: 33%;
}