*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #3a3ae7, #79cdee);
    width: 100vw;
    height: 100vh;
}
.container{
    width: 400px;
    height: 200px;
    box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 80%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 14px;
}
button{
    padding: 5px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: darkcyan;
    color: #fff;
    border: 2px solid rgb(1, 83, 83);
    height: 40px;
    width: 30px;
}
input{
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 15px;
}