@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    
}
nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: transparent;
    z-index: 10;
    position: sticky;
    top: 0;
}
.navbar{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #fff;
    text-shadow: 2px 3px 11px rgb(0,0,0,0.2);
}
.logo{
    font-size: 35px;
    cursor: pointer;
    font-weight: bold;
}
ul li{
    margin: auto 25px;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    position: relative;
}
ul li label{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 100%;
    text-align: center;
    top: -11px;
    left: 10px;
    cursor: pointer;
}
ul li span{
    width: 30px;
    height: 30px;
    background: #ccc;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .fa-solid{
    cursor: pointer;
}
.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .left{
    width: 50%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(0deg, rgba(0, 89, 255, 0.918), rgba(4, 0, 255, 0.664)) , url('https://images.pexels.com/photos/8157581/pexels-photo-8157581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    padding: 0px 100px;
    box-shadow:  inset -9px 0px 20px 1px rgb(255, 255, 255, 0.2);
    transition: all 1s;
}
.container  h1{
    font-size: 50px;
    color: #fff;
}
.container  p{
    font-size: 15px;
    margin: 10px;
    color: #fff;
}
.container button{
    background: transparent;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid #fff;
    margin: 30px 0px;
    cursor: pointer;
    box-shadow: 0px 10px 14px rgba(0,0,0,0.2);
}
.container .left a{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 3px 11px rgb(0,0,0,0.2);
    cursor: pointer;
}
.container .right a{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 3px 11px rgb(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.7s;

}
.container  a.active{
    transition: all 0.7s;
    transform: rotate(180deg);
}
.container .right{
    width: 50%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(0deg, rgba(255, 166, 0, 0.678),  rgba(255, 166, 0, 0.918)) , url('https://images.pexels.com/photos/2300334/pexels-photo-2300334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    box-shadow:  inset 17px 0px 20px 1px rgb(255, 255, 255, 0.2);
    padding: 0px 100px;
    transition: all 1s;
}
.container .hoverleft{
    width: 100%;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;
    transition: all 1.2s;
    width: 100%;
}

.card .box{
    width: 180px;
    height: 180px;
    border: 2px solid #fff;
    margin:  20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 10px 14px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 15px;
}
.card .box .fa-solid{
    font-size: 30px;
}
.card .box p{
    font-size: 10px;
    margin: 20px auto;
}
.card .box span{
    background: transparent;
    font-size: 10px;
    color: #fff;
    width: 90%;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid #fff;
    margin: 5px 0px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 10px 14px rgba(0,0,0,0.2);
}
.left.active{
   width: 100%;
}
.right.active{
    transition: all 0.5s;
   width: 100%;
}