*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: 250px;
    border: 4px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(128, 106, 226);
}
.container input{
    width: 400px;
    margin: 10px 0;
    height: 30px;
    padding-left: 10px;
}
.container button{
    width: 200px;
    cursor: pointer;
    border: none;
    background-color: purple;
    color: white;
    height: 30px;
}
.container button:active{
    transform: translatey(2px);
}